@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary-color: #7c95b4;
  --primary-dark: #435469;
  --gray: #767676;
  --dark-gray: #3B3B3B;
  --light-gray: #A5A5A5;
  --white: #fff;
  --bg: #f7f7f7;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bg);
  padding-top: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
