.itemDetail{
    display: flex;
    align-items: flex-start;
    margin: auto;
    margin-top: 3rem;
    padding-top: 2rem;
    max-width: 900px;
    &__img{
        max-width: 220px;
        border-radius: 10px;
        box-shadow: 1px 20px 30px -9px rgb(0 0 0 / 15%);
    }
    &__textContainer{
        text-align: start;
        margin-left: 3rem;
        color: var(--dark-gray);
    }
    &__title{
        font-size: 2rem;
        font-weight: 500;
    }
    &__details{
        display: flex;
        align-items: center;
        color: var(--gray);
        margin-bottom: 1rem;
    }
    &__circle{
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: var(--dark-gray);
        margin: 0 .5rem;
    }
    &__price{
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }
}