.itemCount{
    &Container{
        display: flex;
        flex-direction: column;
        max-width: 200px;
        border-radius: 10px;
        margin: 2rem 0;
        color: var(--dark-gray);
    }
    &__stock{
        margin-bottom: 1rem;
        font-weight: 600;
        font-size: 1.1rem;
    }
    &__buttons{
        display: flex;
        min-width: 100%;
        justify-content: space-between;
        align-items: center;
        border: #7c95b4 1px solid;
        padding: .3rem 1rem;
        border-radius: 3px;
        user-select: none;
    }
    &__icon{
        color: #7c95b4;
        cursor: pointer;
    }
    &__number{
        font-size: 1.5rem;
        font-weight: 600;
    }
    &__purchase{
        background-color: var(--primary-color);
        color: var(--white);
        font-size: .8rem;
        padding: .5rem;
        text-align: center;
        margin-top: .5rem;
        border-radius: 3px;
        cursor: pointer;
        user-select: none;
    }
}